$color: Blue;
$links: darkblue;
$bgcolor: black;
$textcolor: white;
$fontsize: 18px;
li{
  font-size: 14px;
  color: $color;
}

#links{
  text-align: left;
  color: $links;
}

body{
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

ol > li{
  color: $textcolor;
  font-size: $fontsize;
}
