$color: Blue;
$links: darkblue;
li{
  font-size: 14px;
  color: $color;
}

#links{
  text-align: left;
  color: $links;
}

$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

body{
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
