body{
  background-color: #4169E1;
}

h1 {
    color: DodgerBlue;
    text-align: center;
    font-size: 50px;
    text-shadow: #000;
}

h2, input {
    text-align: center;
}

p {
    color: Black;
    text-align: center;
}
tr {
    color: DarkBlue;
    text-align: center;
  }
