body{
  background-color: Dodgerblue;
  }

h1 {
    color: DodgerBlue;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 4px 4px #282828;
}

h2, input, div{
    text-align: center;
}

p {
    color: Black;
    text-align: center;
}
tr {
    color: DarkBlue;
    text-align: center;
  }
