table {
  border: 2px solid black;
  width: auto;
  border-collapse: collapse;
  width: 50%;
}
th, td, tr {
  border: 1px solid black;
  padding: 5px;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  }
td {
  background-color: lightblue;
  width: auto;
  text-align: center;
}
