table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}
th, td, tr {
  border: 1px solid black;
  padding: 5px;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  }
  th {
    background-color: grey;
    width: 50%
    text-align: center;
  }
td {
  background-color: lightblue;
  width: auto;
  text-align: center;
}
